*{
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  background-color: #eeee;
  padding: 1rem;

}
.search-posts{
  padding: 5px 50px;
  margin-bottom: 20px;
  text-align: center;
}